html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    background-color: rgb(247, 247, 202);
}


.main{
    min-height: 100vh;
    margin: 2em;
    padding: 2em;
    max-width: 500px;
}

.main h1{
    font-size: 2em;
    color: inherit;
    margin-bottom: 1em;
    background-color: rgb(221, 174, 55);
    padding: 8px;
}

.main input{
    padding: 6px;
    width: 220px;
}

.main #editTaskInput{
    display: none;
}

.main #taskList{
    margin-top: 1.5em;
    font-size: 1.6em;
}

.main button{
    padding: 6px;
}

.main #btnConfirmEdit{
    display: none;
}

.main #taskList > li{
    padding-top: .7em;
    border-top: 1px solid rgb(235, 197, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    min-height: 60px;
}

.main #taskList li p{
    width: 100%;
    padding: 5px;
}

.main #taskList li button{
    display: block;
    border: none;
    background-color: inherit;
    position: relative;
}

.main #taskList > li:last-child{
    border-bottom: 1px solid rgb(235, 197, 101);
}

.main #taskList li.completed .option{
    border: 1px solid grey;
    position: absolute;
    min-width: 130px;
    right: 0;
    bottom: -77px;
    background-color: rgb(248, 248, 239);
    font-size: .8em;
    padding: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    flex-direction: column;
    gap: .6em;
    z-index: 1;
}

.main #taskList .editing{
    background-color: #fff;
}

.option h3 {
    color: rgb(6, 138, 131);
    margin-bottom: 10px;
}

.option #edit,
.option #remove,
.option #search-web,
.option #copy-text{
    display: flex;
    justify-content: space-between;
}

.main .completed{
    text-decoration: line-through;
    color: grey;
    position: relative;
}

.main .completed::before{
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f00c";
    position: absolute;
    right: 45px;
}