html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    background-color: rgb(247, 247, 202);
}


.main{
    min-height: 100vh;
    margin: 2em;
    padding: 2em;
    max-width: 500px;
}

.main h1{
    font-size: 2em;
    color: goldenrod;
    color: rgb(235, 197, 101);
    color: inherit;
    margin-bottom: 1em;
    background-color: rgb(221, 174, 55);
    padding: 8px;
}

.main #taskInput{
    padding: 6px;
    width: 220px;
    /* max-width: 220px; */
}

.main #taskList{
    margin-top: 1.5em;
    font-size: 1.6em;
}

.main button{
    padding: 6px;
}

.main #taskList li{
    padding: 1em;
    border-top: 1px solid rgb(235, 197, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.main #taskList li button{
    display: block;
    border: none;
    background-color: inherit;
}

.main #taskList li:last-child{
    border-bottom: 1px solid rgb(235, 197, 101);
}

.main #taskList li.completed .menu{
    width: 50px;
    border: 1px solid grey;
}

.menu h3 {
    color: rgb(63, 233, 224);
}

/*
nome da li - titulo em verde
editar
remover
copiar texto


*/

.main .completed{
    text-decoration: line-through;
    color: grey;
    position: relative;
}

.main .completed::before{
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f00c";
    position: absolute;
    right: 45px;
}

/* .main .completed::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f142";
    position: absolute;
    right: 0px;
} */